<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="login-page">
    <div>
      <h2>Login Here</h2>
    </div>
    <div class="login-form">
      <%= form_with(url: login_path, method: :post, id: 'loginForm', class: 'login-form', scope: :session, local: true) do |form| %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div>
          <%= form.label :email, 'Email:' %>
          <%= form.email_field :email, id: 'email', required: true %>
        </div>
        <div>
          <%= form.label :password, 'Password:' %>
          <%= form.password_field :password, id: 'password', required: true %>
        </div>
        <%= form.submit 'Login', class: 'login-button' %>
      <% end %>
    </div>
  </div>    
</body>
</html>
