<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration Page</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const passwordField = document.getElementById("registration_password");
    const passwordStrength = document.createElement("div");
    passwordField.parentNode.insertBefore(passwordStrength, passwordField.nextSibling);

    passwordField.addEventListener('input', function() {
      const value = passwordField.value;
      let strength = '';
      let color = 'red';
      
      const hasLowerCase = /[a-z]/.test(value);
      const hasUpperCase = /[A-Z]/.test(value);
      const hasNumbers = /[0-9]/.test(value);
      const hasSpecial = /[\!\@\#\$\%\^\&\*\(\)\_\+\-\=\[\]\{\}\;\:\'\"\\|,\.\/\<\>\?]/.test(value);
      const lengthCheck = value.length >= 8;

      const score = [hasLowerCase, hasUpperCase, hasNumbers, hasSpecial, lengthCheck].reduce((acc, curr) => acc + curr, 0);

      switch(score) {
        case 0:
          strength = 'Password is very weak';
          break;
        case 1:
          strength = 'Password is very weak';
          break;
        case 2:
          strength = 'Password is weak';
          break;
        case 3:
          strength = 'Password is good';
          break;
        case 4:
          strength = 'Password is strong';
          break;
        case 5:
          strength = 'Password is very strong';
          color = 'green';
          break;
        default:
          strength = 'Password is very weak';
      }

      passwordStrength.textContent = strength;
      passwordStrength.style.color = color;
    });
  });

  
</script>

<body>
<div class="register-page">
  <h2>Register Here</h2>
  <%= form_with(model: Registration.new, local: true) do |form| %>

    <div>
      <%= form.label :name %>
      <%= form.text_field :name, required: true %>
    </div>
    <div>
      <%= form.label :email %>
      <%= form.email_field :email, required: true %>
    </div>
    <div>
      <%= form.label :password %>
      <%= form.password_field :password, required: true %>
    </div>
    <div>
      <%= form.label :password_confirmation, "Confirm Password" %>
      <%= form.password_field :password_confirmation, required: true %>
    </div>
    <div>
      <%= form.label :register_as, "Register as:" %>
      <%= form.select :register_as, [['User', 'user'], ['Vendor', 'vendor']], { include_blank: 'Select' }, required: true, id: "register_as" %>
    </div>

    <div id="vendor_fields" style="display: none;">
      <div>
        <%= form.label :vendor_type, "Vendor Type" %>
        <%= form.select :vendor_type, [['Decorator', 'decorator'], ['Pandit Ji', 'pandit'], ['Astrologer', 'astrologer']], { include_blank: 'Select' }, required: true %>
      </div>
      <div>
        <%= form.label :expertise, "Expertise" %>
        <%= form.text_field :expertise %>
      </div>
    </div>

    <%= form.submit "Register", class: "register-button", method: :post %>
  <% end %>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    const registerAsField = document.getElementById('register_as');
    const vendorFields = document.getElementById('vendor_fields');

    registerAsField.addEventListener('change', function() {
      if (registerAsField.value === 'vendor') {
        vendorFields.style.display = 'block';
      } else {
        vendorFields.style.display = 'none';
      }
    });
  });
</script>



</body>
</html>
