<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>EventfullEase</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
 
  <%= csrf_meta_tags %>

  <!-- Favicons -->
  

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: eNno
  * Template URL: https://bootstrapmade.com/enno-free-simple-bootstrap-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
      
      <h1 class="logo"><a href="home.html">EventfulEase</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="home.html">Home</a></li>
          <li><a class="nav-link scrollto" href="home.html#about">About</a></li>
          <li class="dropdown"><a href="home.html#services"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="family_occasions.html">Family Occasions Decoration</a></li>
              <li><a href="social_events.html">Socail Events Decoration</a></li>
              <li><a href="destination_wedding.html">Destination Wedding Decoration</a></li>
              <li><a href="pandit_ji.html">Book Pandit Ji</a></li>
              <li><a href="available_astrologer.html">Connect With Astrologer</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li class="dropdown" ><%= link_to "Profile", user_profile_path %>
            <ul>
              
               <%= link_to "Logout", logout_path, method: :delete %>

            </ul>
          </li>
          
            
          </li>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class='bx bxs-balloon bx-flashing' ></i></i></div>
              <h4><a href="<%= family_occasions_path %>">Family Occasions Decoration</a></h4>
              <p>Transform your family gatherings into memorable celebrations with bespoke decoration services</p>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class='bx bxs-drink bx-flashing' ></i></div>
              <h4><a href="social_events.html">Social Events Decoration</a></h4>
              <p>Elevate any social event with custom, captivating decor that leaves a lasting impression</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class='bx bxs-plane bx-flashing' ></i></div>
              <h4><a href="destination_wedding.html">Destination Wedding Decoration</a></h4>
              <p>Bring your dream wedding to life with exquisite decorations tailored to your dream destination</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class='bx bxs-book-reader bx-flashing' ></i></div>
              <h4><a href="pandit_ji.html">Book Pandit Ji</a></h4>
              <p>Ensure your ceremonies are imbued with tradition and spirituality by booking experienced Pandit Ji</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class='bx bxs-star bx-flashing' ></i></div>
              <h4><a href="available_astrologer.html">Connect with Astrologer</a></h4>
              <p>Gain insights and guidance for life's important moments through direct connections with seasoned astrologers</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6 mt-3 mt-md-0">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group mt-3">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container-footer">
      <div class="copyright">
        &copy; Copyright <strong><span>Akrity</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <p>Made By <a href="https://bootstrapmade.com/">Akrity</a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->


</body>

</html>