<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Vendor Profile</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'profile', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>


 
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">EventfulEase</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="index.html">Home</a></li>
          <li><a class="nav-link scrollto" href="index.html#about">About</a></li>
          <li><a class="nav-link scrollto" href="home.html#contact">Contact</a></li>
         <li class="dropdown"><a href=""><span>Profile</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              
               <%= link_to "Logout", logout_path, method: :delete %>

            </ul>
          </li>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->


  <main id="main" class="main">

    <div class="pagetitle">
        <h1>Profile</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Users</li>
            <li class="breadcrumb-item active">Profile</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->
  
      <section class="section profile">
        <h2>Vendor</h2>
        <div class="row">
          <div class="col-xl-4">
  
            <div class="card">
              <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                <% if current_account %>
                    <h2><%= current_account.name %></h2>
                <% else %>
                    <p>No vendor logged in</p>
                <% end %>
              </div>
            </div>
  
          </div>
  
          <div class="col-xl-8">
  
            <div class="card">
              <div class="card-body pt-3">
                <!-- Bordered Tabs -->
                <ul class="nav nav-tabs nav-tabs-bordered">
  
                  <li class="nav-item">
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Profile</button>
                  </li>
  
                  <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#booking-list">Booking List</button>
                  </li>

                  <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#request-list">Request List</button>
                  </li>

                </ul>

                <div class="tab-content pt-2">
  
                  <div class="tab-pane fade show active profile-overview" id="profile-overview">
                    <% if current_account %>
                      <h5 class="card-title">About</h5>
                      <!-- Display other vendor details -->
                      <div class="row">
                          <div class="col-lg-3 col-md-4 label ">Full Name</div>
                          <div class="col-lg-9 col-md-8"><%= current_account.name %></div>
                      </div>

                      <div class="row">
                          <div class="col-lg-3 col-md-4 label">Email</div>
                          <div class="col-lg-9 col-md-8"><%= current_account.email %></div>
                      </div>

                      <div class="row">
                          <div class="col-lg-3 col-md-4 label ">Vendor Type</div>
                          <div class="col-lg-9 col-md-8"><%= current_account.vendor_type %></div>
                      </div>

                      <div class="row">
                          <div class="col-lg-3 col-md-4 label ">Expertise</div>
                          <div class="col-lg-9 col-md-8"><%= current_account.expertise %></div>
                      </div>

                      <div class="row">
                          <div class="col-lg-3 col-md-4 label ">Ratings</div>
                           <div class="col-lg-9 col-md-8"> 
                            <% if @rating.present? %>
                              <%= @rating %>
                            <% else %>
                              No rating available
                            <% end %>
                           </div>

                      </div>

                      <% else %>
                        <p>No vendor logged in</p>
                      <% end %>
  
                  </div>
  
                 <div class="tab-pane fade profile-edit pt-3" id="booking-list">
                  <h2>Booking List</h2>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Theme</th>
                        <th>Booking By</th>
                        <th>Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @bookings.each do |booking| %>
                        <tr>
                          <td><%= booking.theme %></td>
                          <td><%= booking.booking_by %></td>
                          <td><%= booking.price %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>

                <div class="tab-pane fade profile-edit pt-3" id="request-list">
                  <h2>Request List</h2>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Theme</th>
                        <th>Requested By</th>
                        <th>Price</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @requests.each do |booking| %>
                        <tr>
                          <td><%= booking.theme %></td>
                          <td><%= booking.booking_by %></td>
                          <td><%= booking.price %></td>
                          <td>
                            <%= button_to "Accept", accept_booking_path(booking.id), method: :post, class: "btn btn-success", remote: true %>
                            <%= button_to "Reject", reject_booking_path(booking.id), method: :delete, class: "btn btn-danger", remote: true %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>


      </section>        

  
  </main><!-- End #main -->

   <!-- ======= Footer ======= -->
   <footer id="footer">

    <div class="container-footer">
      <div class="copyright">
        &copy; Copyright <strong><span>Akrity</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <p>Made By <a href="https://bootstrapmade.com/">Akrity</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  

</body>

</html>
